#e_2009_12_form a, .e_2009_12_link {
text-decoration:underline;
font-weight: bold;
color: purple;
}

#e_2009_12_col1 {
float: left;
width: 75%;
}

#e_2009_12_col2 {
float: left;
width: 25%;
}

.e_2009_12_line {
clear: both;
margin-top: 15px;
margin-bottom: 15px;

}

.e_2009_12_order {
margin-left: 40px;
color: grey;}

.e_2009_12_fcol1 {
float: left;
width: 150px;
}

.e_2009_12_fcol2 {

}

.e_2009_12_acol1 {
float: left;
width: 265px;
height: 30px;
}

.e_2009_12_acol {
float: left;
width: 210px;
height: 185px;
}

.e_2009_12_acol2 {

}

.e_2009_12_aline {
clear: both;
height: 1px;
}

.e_2009_12_25 {
float: left;
width: 25%;
text-align: center;
}

.e_2009_12_input {
clear: both;
text-align: center;
padding-top: 15px;
padding-bottom: 15px;
}